body {
  margin: 0;
}

header {
  background-color: #3030c1;
}

.wrapper {
  width: 82%;
  margin: 0 auto;
}

.header {
  padding-top: 60px;
}


.desc {
  background: 85% 29% / 39% url(img/main-img.png) no-repeat;
  height: 550px;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #3030c1;
}

.desc__title {
  font: 800 45px/55px 'Gilroy', sans-serif;
  color: #fff;
  width: 615px;
  padding-top: 13px;
  margin-bottom: 32px;
}

.desc__subtitle {
  font: 800 30px/37px 'Gilroy', sans-serif;
  color: #ffcc33;
  width: 355px;
  margin-bottom: 0;
}

.desc__text {
  font: 300 20px/23px 'Gilroy', sans-serif;
  color: #fff;
  width: 465px;
  margin-top: 10px;
  margin-bottom: 33px;
}

.section__button {
  font: 900 20px/24px 'Monserrat', sans-serif;
  color: #3030c1;
  padding: 15px 23px;
  background-color: #ffcc33;
  border: none;
  margin-left: 2px;
}

.plans__title {
  font: 800 40px/49px 'Gilroy', sans-serif;
}

.plans__list {
  display: flex;
  flex-direction: row;
}

.plans__subtitle {
  font: 800 30px/37px 'Gilroy', sans-serif;
  color: #3030c1;
}

.plans__desc {
  font: 800 20px/24.5px 'Gilroy', sans-serif;
}

.section__title {
  font: 800 40px/49px 'Gilroy', sans-serif;
}

.plans__text {
  font: 300 30px/36px 'Gilroy', sans-serif;
}

.contact {
  background-color: #f0fbff;
}

.contact__title {
  font: 800 40px/49px 'Gilroy', sans-serif;
}

.form__input {
  font: 300 20px/23px 'Gilroy', sans-serif;
}

.form__button {
  font: 900 20px/24px 'Monserrat', sans-serif;
  padding: 28px 109px;
  background-color: #ffcc33;
  border: none;
}

.footer {
  background-color: #3030c1;
  margin: 0 auto;
}

.footer__text {
  font: 400 15px/18px 'Roboto', sans-serif;
  color: #fff;
}

@media (max-width: 320px) {
  .section__button {
    display: none;
  }

  .desc {
    padding-top: 80%;
  }
}

