body {
  margin: 0;
}

header {
  background-color: #3030c1;
}

.wrapper {
  width: 82%;
  margin: 0 auto;
}

.header {
  padding-top: 60px;
}


.desc {
  background: 85% 29% / 39% url(img/main-img.png) no-repeat;
  height: 550px;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #3030c1;
}

.desc__title {
  font: 800 45px/55px 'Gilroy', sans-serif;
  color: #fff;
  width: 615px;
  padding-top: 13px;
  margin-bottom: 32px;
}

.desc__subtitle {
  font: 800 30px/37px 'Gilroy', sans-serif;
  color: #ffcc33;
  width: 355px;
  margin-bottom: 0;
}

.desc__text {
  font: 300 20px/23px 'Gilroy', sans-serif;
  color: #fff;
  width: 465px;
  margin-top: 10px;
  margin-bottom: 33px;
}

.section__button {
  font: 900 20px/24px 'Monserrat', sans-serif;
  color: #3030c1;
  padding: 15px 23px;
  background-color: #ffcc33;
  border: none;
  margin-left: 2px;
}

.plans {
  text-align: center;
}

.plans__title {
  font: 800 40px/49px 'Gilroy', sans-serif;
}

.plans__list {
  display: flex;
  flex-direction: row;
}

.plans__subtitle {
  font: 800 30px/37px 'Gilroy', sans-serif;
  color: #3030c1;
}

.plans__desc {
  font: 800 20px/24.5px 'Gilroy', sans-serif;
}

.section__title {
  font: 800 40px/49px 'Gilroy', sans-serif;
}

.plans__text {
  font: 300 30px/36px 'Gilroy', sans-serif;
}

.contact {
  background-color: #f0fbff;
  text-align: center;
}

.contact__title {
  font: 800 40px/49px 'Gilroy', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  font: 300 20px/23px 'Gilroy', sans-serif;
  width: 352px;
  height: 80px;
  border: none;
  padding-left: 28px;
  margin-bottom: 30px;
}

.form__button {
  font: 900 20px/24px 'Monserrat', sans-serif;
  padding: 28px 109px;
  background-color: #ffcc33;
  border: none;
}

.footer {
  background-color: #3030c1;
  margin: 0 auto;
}

.footer__text {
  font: 400 15px/18px 'Roboto', sans-serif;
  color: #fff;
}

/* -------------------------------------Adaptation------------------------------------ */

@media (max-width: 1230px) {
  .desc {
    background: 90% 29% / 39% url(img/main-img.png) no-repeat;
    background-color: #3030c1;
  }
}

@media (max-width: 1150px) {
  .desc__title {
    width: 455px;
  }

  .desc {
    background: 90% 40% / 39% url(img/main-img.png) no-repeat;
    background-color: #3030c1;
  }
}

@media (max-width: 950px) {
  .desc {
    background: 90% 40% / 45% url(img/main-img.png) no-repeat;
    background-color: #3030c1;
    padding-top: 50px;
    height: 450px;
  }

  .desc__title {
    font: 800 40px/45px 'Gilroy', sans-serif;
    width: 400px;
  }

  .desc__subtitle {
    font: 800 30px/30px 'Gilroy', sans-serif;
  }

  .desc__text {
    width: 390px;
  }
}

@media (max-width: 890px) {
  .desc {
    background: 91% 26% / 45% url(img/main-img.png) no-repeat;
    background-color: #3030c1;
    padding-top: 40px;
  }

  .desc__title {
    font: 800 35px/40px 'Gilroy', sans-serif;
    width: 350px;
  }

  .desc__subtitle {
    font: 800 25px/25px 'Gilroy', sans-serif;
  }

  .desc__text {
    font: 300 16px/18px 'Gilroy', sans-serif;
    width: 350px;
    margin-bottom: 25px;
  }

  .section__button {
    font: 900 18px/18px 'Monserrat', sans-serif;
  }
}

@media (max-width: 768px) {
  .desc {
    background: 50% 70% / 70% url(img/main-img.png) no-repeat;
    background-color: #3030c1;
    padding-bottom: 450px;
  }

  .desc__title {
    width: 500px;
    margin-bottom: 0;
  }
  
  .desc__subtitle {
    width: 455px;
  }

  .desc__text {
    width: 410px;
  }

  .section__button {
    display: none;
  }
}

@media (max-width: 600px) {
  .desc {
    background: 50% 80% / 70% url(img/main-img.png) no-repeat;
    background-color: #3030c1;
    padding-bottom: 400px;
  }

  .desc__subtitle {
    margin-bottom: 15px;
  }
}

@media (max-width: 570px) {
  .logo__img {
    width: 93px;
    height: 24px;
  }

  .desc {
    background: 50% 85% / 70% url(img/main-img.png) no-repeat;
    background-color: #3030c1;
    padding-bottom: 300px;
  }

  .desc__title {
    font: 800 35px/45px 'Gilroy', sans-serif;
    width: 350px;
    margin-bottom: 30px;
    padding-top: 0;
  }

  .desc__subtitle {
    font: 800 29px/25px 'Gilroy', sans-serif;
    width: 350px;
  }

  .desc__text {
    font: 300 20px/18px 'Gilroy', sans-serif;
    width: 350px;
  }
}

@media (max-width: 450px) {
  .desc {
    padding-bottom: 250px;
  }
}

@media (max-width: 415px) {
  .header {
    padding-top: 39px;
  }

  .logo__img {
    width: 93px;
    height: 24px;
  }

  .desc {
    background: 50% 80% / 70% url(img/main-img.png) no-repeat;
    background-color: #3030c1;
    padding-top: 1px;
    padding-bottom: 150px;
  }

  .desc__title {
    width: 185px;
    font: 800 25px/31px 'Gilroy', sans-serif;
    padding-top: 0;
  }

  .desc__subtitle {
    width: 235px;
    font: 800 20px/25px 'Gilroy', sans-serif;
  }

  .desc__text {
    width: 236px;
    font: 300 15px/17px 'Gilroy', sans-serif;
  }
}

@media (max-width: 320px) {
  .header {
    padding-top: 39px;
  }

  .logo__img {
    width: 93px;
    height: 24px;
  }

  .section__button {
    display: none;
  }

  .desc {
    padding-top: 1px;
    padding-bottom: 0;
    background: 50% 85% / 81% url(img/main-img.png) no-repeat;
    background-color: #3030c1;
    height: 527px;
  }

  .desc__title {
    width: 185px;
    font: 800 25px/31px 'Gilroy', sans-serif;
    padding-top: 0;
    margin: 20px 0 25px 2px;
  }

  .desc__subtitle {
    width: 235px;
    font: 800 20px/25px 'Gilroy', sans-serif;
    margin: 0 0 0 1px;
  }

  .desc__text {
    width: 236px;
    font: 300 15px/17px 'Gilroy', sans-serif;
    margin: 1px 0 0 1px;
  }
}
